# TEMPLATE FOR .env FILE

ASTERISK_URL=http//...
ASTERISK_ARI_LOGIN=x
ASTERISK_ARI_PASSWORD=x
ASTERISK_APP_NAME=bot
ASTERISK_CALL_ENDPOINT=PJSIP/XXX

PLAYBACK_STORAGE=playback/

RECORD_STORAGE=/var/spool/asterisk/monitor/

YANDEX_API=xxxxxxxxxxxx
